* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .menu-container {
    color: white;
    background-color:#193366;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    
  }
  
  .menu {
    /* border: 1px solid white; (For debugging) */
    width: 1400px;
    display: flex;
    justify-content: space-between;
    font-family: helvetica;
  }
  
  .links {
    display: flex;
    justify-content: flex-end;
    
  }
  
  a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color:white;
  }
  
  
  .block1-container {
     
    display:flex;
    justify-content: center;
    color: white;
    background-image: url("https://wallpaperaccess.com/full/3689723.jpg");
    height: 800px;
    background-attachment: scroll;
  }
  
  .block1 {
   /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    /* space-between: 300px; */
    width: 1400px;
    padding-left: 200px;
    padding-right: 100px;
    margin-top: 200px;
    font-family: Helvetica;
    margin-bottom: 100px;
    text-shadow: 0 0 10px #fff
  }
  
  .t1 {
    font-style: bold;
    font-size: 60px;
    margin-bottom: 5px;
    
  }
  
  .image1 {
    width: 500px;
    margin-left: 200px;
    height: auto;
  }
  
  .button1 {
    background-color: #008CBA;
    margin-top: 15px;
    font-family: helvetica;
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
    border: none;
    transition-duration: 0.4s;
    
  }
  
  .button1:hover {
    border: #008CBA 2px;
    background-color: white;
    color: #008CBA
    
  }

  .block2-container {
    display:flex;
    justify-content: center;
    color: white;
    justify-content: center;
    background-color:#193366;
    background-attachment: scroll;
    align-items: center;
  }

  .block2 {
    /* border: 1px solid white; */
    /* space-between: 300px; */
    width: 1400px;
    justify-content: center;
    margin-top: 20px;
    font-family: Helvetica;
    margin-bottom: 80px;
    padding-left:100px;
    padding-right: 100px;
    
    
  }

.top-text {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.picture-grid {
  display: flex;
  justify-content: space-between;
}

.pg {
  text-align: center;
  font-size: 10px;
  padding-left:100px;
  padding-right:100px;
  
}

.pgimg {
  width: 200px;
}

.block3-container {
    display:flex;
    justify-content: center;
    color: white;
    justify-content: center;
    background-color:black;
    background-attachment: scroll;
    align-items: center;
  background-image: url("https://wallpaperaccess.com/full/3689779.jpg");
  
}
  
   .block3 {
    /*border: 1px solid white; */
    /* space-between: 300px; */
    width: 1400px;
    justify-content: center;
    margin-top: 100px;
    font-family: Helvetica;
    margin-bottom: 100px;
    padding-left:350px;
    padding-right: 350px;
    text-shadow: 0 0 10px #fff
    
  }
  
  .little-text {
    margin-top: 30px;
    text-align: right;
    font-style: bold;
    font-size: 20px;
}

.big-text {
  font-size: 40px;
  font-style: italic;
}

.block4-container {
    display:flex;
    justify-content: center;
    color: white;
    justify-content: center;
    background-color:#193366;
    background-attachment: scroll;
    align-items: center;
    padding-left:100px;
  padding-right:100px;
  padding-top: 50px;
  border: 1px solid white;
  }

  .block4 {
      
    /* space-between: 300px; */
    width: 1400px;
    justify-content: center;
    margin-top: 50px;
    font-family: Helvetica;
    margin-bottom: 50px;
    padding-left:100px;
    padding-right: 100px;
    align-items: center;
    background-color:#008CBA;
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 20px;
    
  }

.longer-block {
  display: flex;
  justify-content: space-between;
  padding-top:30px;
  padding-bottom:30px;
  
}

.t2 {
  font-weight: light;
  font-size: 15px;
}

.call {
 font-size: 20px;
 font-weight: bold;
}

.little-block {
  margin-top: 30px;
  
  
}

  .button2 {
    background-color: #008CBA;
    font-family: helvetica;
    padding: 10px 24px;
    border-radius: 8px;
    color: white;
   
    transition-duration: 0.4s;
    margin-top: 30px;
    
  }
  
  .button2:hover {
    border: #008CBA 2px;
    background-color: white;
    color: #008CBA
    
  }

.end {
  font-family: helvetica;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-image: url("https://wallpaperaccess.com/full/3689723.jpg");
  
  
}